# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Machine Learning
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth

# Data files
data/raw/
*.csv
*.xlsx

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*